.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: hsl(10, 79%, 65%);
}

.header-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.header-balance {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.header-title,
.header-balance {
  color: hsl(33, 100%, 98%);
}
