.wrapper {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(27, 66%, 92%);
}

.balance-component {
  width: 35%;
}

@media screen and (max-width: 900px) {
  .balance-component {
    width: 90%;
  }
}
